In [1]:
from utils.labels import compute_stai_scores, compute_stai_labels

In [2]:
scores = compute_stai_scores()
scores

    SubjectNo  D1Y1  D2Y1  J1Y1  J2Y1
0           1    26    30    29    31
1           2    38    41    26    34
2           3    58    56    36    35
3           4    40    45    24    24
4           5    25    31    38    37
5           6    49    58     0     0
6           7    56    50    28    28
7           8    46    37    23    27
8           9    41    47    27    22
9          10    37    20    23    21
10         11    50    49    31    47
11         12    42    47    47    41
12         13    35    35    28    33
13         14    54    35    26    26
14         15    51    55    33    42
15         16    35    38    42    45
16         17    37    35    24    20
17         18    54    62    41    48
18         19    47    52    30    36
19         20    46    38    24    25
20         21    44    54    33    39
21         22    49    51    28    34
22         23    56    53    33    28
23         24    52    58    36    41
24         25    48    62    29    56
25         26    43    37    25    26
26         27    52    41    41    34
27         28     0     0    29    29

In [3]:
labels = compute_stai_labels(scores, 40)
labels

Invalid
Invalid
Invalid
Invalid

{'P001_S001_001': 0,
 'P001_S001_002': 0,
 'P001_S002_001': 0,
 'P001_S002_002': 0,
 'P002_S001_001': 0,
 'P002_S001_002': 1,
 'P002_S002_001': 0,
 'P002_S002_002': 0,
 'P003_S001_001': 1,
 'P003_S001_002': 1,
 'P003_S002_001': 0,
 'P003_S002_002': 0,
 'P004_S001_001': 1,
 'P004_S001_002': 1,
 'P004_S002_001': 0,
 'P004_S002_002': 0,
 'P005_S001_001': 0,
 'P005_S001_002': 0,
 'P005_S002_001': 0,
 'P005_S002_002': 0,
 'P006_S001_001': 1,
 'P006_S001_002': 1,
 'P007_S001_001': 1,
 'P007_S001_002': 1,
 'P007_S002_001': 0,
 'P007_S002_002': 0,
 'P008_S001_001': 1,
 'P008_S001_002': 0,
 'P008_S002_001': 0,
 'P008_S002_002': 0,
 'P009_S001_001': 1,
 'P009_S001_002': 1,
 'P009_S002_001': 0,
 'P009_S002_002': 0,
 'P010_S001_001': 0,
 'P010_S001_002': 0,
 'P010_S002_001': 0,
 'P010_S002_002': 0,
 'P011_S001_001': 1,
 'P011_S001_002': 1,
 'P011_S002_001': 0,
 'P011_S002_002': 1,
 'P012_S001_001': 1,
 'P012_S001_002': 1,
 'P012_S002_001': 1,
 'P012_S002_002': 1,
 'P013_S001_001': 0,
 'P013_S001_002': 0,
 'P013_S002_001': 0,
 'P013_S002_002': 0,
 'P014_S001_001': 1,
 'P014_S001_002': 0,
 'P014_S002_001': 0,
 'P014_S002_002': 0,
 'P015_S001_001': 1,
 'P015_S001_002': 1,
 'P015_S002_001': 0,
 'P015_S002_002': 1,
 'P016_S001_001': 0,
 'P016_S001_002': 0,
 'P016_S002_001': 1,
 'P016_S002_002': 1,
 'P017_S001_001': 0,
 'P017_S001_002': 0,
 'P017_S002_001': 0,
 'P017_S002_002': 0,
 'P018_S001_001': 1,
 'P018_S001_002': 1,
 'P018_S002_001': 1,
 'P018_S002_002': 1,
 'P019_S001_001': 1,
 'P019_S001_002': 1,
 'P019_S002_001': 0,
 'P019_S002_002': 0,
 'P020_S001_001': 1,
 'P020_S001_002': 0,
 'P020_S002_001': 0,
 'P020_S002_002': 0,
 'P021_S001_001': 1,
 'P021_S001_002': 1,
 'P021_S002_001': 0,
 'P021_S002_002': 0,
 'P022_S001_001': 1,
 'P022_S001_002': 1,
 'P022_S002_001': 0,
 'P022_S002_002': 0,
 'P023_S001_001': 1,
 'P023_S001_002': 1,
 'P023_S002_001': 0,
 'P023_S002_002': 0,
 'P024_S001_001': 1,
 'P024_S001_002': 1,
 'P024_S002_001': 0,
 'P024_S002_002': 1,
 'P025_S001_001': 1,
 'P025_S001_002': 1,
 'P025_S002_001': 0,
 'P025_S002_002': 1,
 'P026_S001_001': 1,
 'P026_S001_002': 0,
 'P026_S002_001': 0,
 'P026_S002_002': 0,
 'P027_S001_001': 1,
 'P027_S001_002': 1,
 'P027_S002_001': 1,
 'P027_S002_002': 0,
 'P028_S002_001': 0,
 'P028_S002_002': 0}

In [3]:
num_runs = 2
num_sessions = 2
a = (num_runs*num_sessions)

for j in range(num_runs*num_sessions):
    session = j // num_runs + 1
    run = j % num_runs + 1
    print('Ses: ', session, ' Run: ', run)

Ses:  1  Run:  1
Ses:  1  Run:  2
Ses:  2  Run:  1
Ses:  2  Run:  2

In [ ]:
    labels = {}
    for i in range(n_subjects):
        for j in range(n_sessions*n_runs):
            score = scores_df.iloc[i, j]
            if score < cutoff:
                label = 0
            else:
                label = 1
            subject = i + 1
            session = j//n_runs + 1 
            run = j % n_runs + 1
            key = f'P{str(subject).zfill(3)}_S{str(session).zfill(3)}_{str(run).zfill(3)}'
            labels[key] = label

    labels = {}
    for i in range(v.NUM_SUBJECTS):
        for j in range(v.NUM_SESSIONS*v.NUM_RUNS):
            invalid_flag = False
            if scores.iloc[i, j+1] == 0:
                invalid_flag = True
            elif scores.iloc[i,j+1] < low_cutoff:
                label = 0
            elif scores.iloc[i,j+1] > high_cutoff:
                label = 2
            else:
                label = 1

            if not invalid_flag: 
                subject = i + 1
                session = math.ceil((j+1)/v.NUM_SESSIONS)
                run = j%v.NUM_RUNS + 1

                key = f'P{str(subject).zfill(3)}_S{str(session).zfill(3)}_{str(run).zfill(3)}'
                labels[key] = label
            else:
                print("Invalid")
    print(labels)
    return labels